alias grep='grep --color=auto'
alias ls='ls --color=auto'
alias ex='exa'
alias exa='exa -a'
alias exl='exa -l'
alias exal='exa -al'
alias exhl='exa -ld .?*'
alias ytv='youtube-viewer'
alias tra='trashy --color=auto'
alias upd='sudo pacman -Syu'
alias yeet='paru -Rcs'
alias pru='paru'
alias neofetch='fastfetch'

