alias grep='grep --color=auto'

# ls/eza/exa
alias ls='eza'
alias l='eza -lbF --git'
alias lt='eza --tree --level=2'
alias la='eza -lbhHigUmuSa --time-style=long-iso --git --color-scale'

# other apps
alias ytv='youtube-viewer'
alias tra='trashy --color=auto'

# package managers
alias upd='sudo pacman -Syu'
alias yeet='paru -Rcs'
alias pru='paru'
alias neofetch='fastfetch'

