IconTheme = "Win2000-scalable-icontheme-blackysgate"

placer {
  xorigin = 5
  yorigin = 5
  xstep = 5
  ystep = 5
  children = false
}

function("SfwbarInit") {
  SetBarId "bar-0"
  SetLayer "top"
}

include("winops.widget")

layout "sfwbar" {
  include("startmenu.widget")

  button {
    style = "launcher"
    value = "foot"
    action = "foot -c $HOME/.config/foot/foot-labwc.ini"
  }

  button {
    style = "launcher"
    value = "firefox"
    action = "firefox"
  }

  taskbar {
    rows = 1
    group cols = 1
    icons = true
    labels = true
    action[3] = Menu "winops"
  }

  label { css = "* { -GtkWidget-hexpand: true; min-height: 30px; }" }

  label {
    value = Time("%I:%M %p")
    style ="clock"
  }
}
